# compiled output
/dist
/backend/dist
/node_modules
/backend/node_modules

/frontend/.next
/frontend/lib

# Logs
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/pnpm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/lerna-debug.log*

# OS
.DS_Store
/backend/.DS_Store

# Tests
/coverage
/backend/coverage

#Environment Variable
.env
.env.local
.env.development
.env.production
# IDE - VSCode

.vscode/*
.env
/backend/.vscode/*
!.vscode/settings.json
/backend/!.vscode/settings.json
!.vscode/tasks.json
/backend/!.vscode/tasks.json
!.vscode/launch.json
/backend/!.vscode/launch.json
!.vscode/extensions.json
/backend/!.vscode/extensions.json