version: "3.8"

services:
  db_new_soil:
    image: postgres:alpine
    container_name: new_soil_db
    restart: always
    ports:
      - 5434:5432
    env_file:
      - ./db/.env
    volumes:
      - ./db/scripts:/docker-entrypoint-initdb.d
    extra_hosts:
      - "host.docker.internal:172.17.0.1"

  new_soil_backend:
    build: ./backend
    container_name: new_soil_backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - 3310:3310
      - 5556:5555
    volumes:
      - ./backend:/usr/new_soil/backend
    links:
      - db_new_soil
    depends_on:
      - db_new_soil
    extra_hosts:
      - "host.docker.internal:172.17.0.1"

  new_soil_frontend:
      build: ./frontend
      container_name: new_soil_frontend
      command: "yarn dev"
      restart: always
      env_file:
        - ./frontend/.env
      ports:
        - 3004:3000
      volumes:
        - ./frontend:/usr/new_soil/frontend
      links:
        - new_soil_backend
      depends_on:
        - new_soil_backend
      extra_hosts:
        - "host.docker.internal:172.17.0.1"
