version: "3.8"

services:
  db_new_soil:
    image: postgres:alpine
    container_name: new_soil_db
    restart: always
    ports:
      - 5432:5432
    env_file:
      - ./db/.env
    volumes:
      - ./db/scripts:/docker-entrypoint-initdb.d
    networks:
      - new_soil_network

  new_soil_backend:
    build: ./backend
    container_name: new_soil_backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - 3308:3308
      - 9229:9229
    volumes:
      - ./backend:/usr/new_soil/backend
    links:
      - db_new_soil
    depends_on:
      - db_new_soil
    networks:
      - new_soil_network

networks:
  new_soil_network:
    name: new_soil_network
